{% extends 'mainapp/basic.html' %} {% load static %} {%block title%} MainPage 
{% endblock title %} {% block dynamiccart %} {{cartItems}} 
{% endblock dynamiccart %} {% block body %}

<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area">
  <div class="slider_active owl-carousel" id="sliderCarousal">
    {% for x in mci %}
    <div
      class="single_slider d-flex align-items-center slider_bg_1 overlay"
      style="background-image: url({{x.image.url}});"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-md-9 col-md-12">
            <div class="slider_text bg-green">
              <h3>{{x.heading}}</h3>
              <p>{{x.subheading}}</p>
              <a href="{% url 'products' %}" class="boxed-btn3">Shop</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- slider_area_end -->

<!-- latest menu start -->
<div class="delicious_area">
  <div class="container">
    <div class="title-container text-center overflow-hidden">
      <div class="section_title mb-75">
        <h3>Best Seling</h3>
        <a href="/products"
          >View All Products
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="30px"
            height="18px"
            viewBox="0 0 30 18"
            enable-background="new 0 0 30 18"
            xml:space="preserve"
          >
            <path
              class="handle"
              d="M20.305,16.212c-0.407,0.409-0.407,1.071,0,1.479s1.068,0.408,1.476,0l7.914-7.952c0.408-0.409,0.408-1.071,0-1.481
              l-7.914-7.952c-0.407-0.409-1.068-0.409-1.476,0s-0.407,1.071,0,1.48l7.185,7.221L20.305,16.212z"
            ></path>
            <path
              class="bar"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1,8h28.001c0.551,0,1,0.448,1,1c0,0.553-0.449,1-1,1H1c-0.553,0-1-0.447-1-1
              C0,8.448,0.447,8,1,8z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="row">
          {% for item in items %}
          <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="single_delicious">
              <div class="thumb">
                <img src="/media/{{item.image}}" alt="" />
              </div>
              <div class="single_delicious_content">
                <div class="info">
                  <a href="{% url 'vendor' item.vendor.id %}" class="vendor-tag"
                    ><i class="fa fa-tag pr-1"></i>{{ item.vendor|title }}</a
                  >
                  <h3>{{item.dish_name}}</h3>
                </div>
                <div class="price-button-wrapper">
                  <span>Rs.{{item.price}}</span>
                  {% if item.outofstock %}
                  <button class="boxed-btn outof-stock-btn">
                    Out of Stock
                  </button>
                  {% else %}
                  <button
                    class="boxed-btn rounded"
                    onclick="addToCart('{{item.id}}','yes');"
                  >
                    Add<i class="fa fa-shopping-cart"></i>
                  </button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- latest menu ends -->

<!-- popular category starts -->
<div class="delicious_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center overflow-hidden">
        <div class="section_title mb-75">
          <h3>SHOP BY CATEGORIES</h3>
          <a href="/products/category"
            >View All Categories
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="30px"
              height="18px"
              viewBox="0 0 30 18"
              enable-background="new 0 0 30 18"
              xml:space="preserve"
            >
              <path
                class="handle"
                d="M20.305,16.212c-0.407,0.409-0.407,1.071,0,1.479s1.068,0.408,1.476,0l7.914-7.952c0.408-0.409,0.408-1.071,0-1.481
              l-7.914-7.952c-0.407-0.409-1.068-0.409-1.476,0s-0.407,1.071,0,1.48l7.185,7.221L20.305,16.212z"
              ></path>
              <path
                class="bar"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1,8h28.001c0.551,0,1,0.448,1,1c0,0.553-0.449,1-1,1H1c-0.553,0-1-0.447-1-1
              C0,8.448,0.447,8,1,8z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="category_carousel owl-carousel">
      {% for item in popular_category %}
      <div class="category_item">
        <a href="{% url 'category' item.id %}" class="text-white"
          >{{ item.category|title }}
          <div class="thumb">
            <img src="/media/{{item.image}}" alt="" />
          </div>
          <div class="info">
            <h3>{{item.category_name}}</h3>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- popular category ends -->

<!-- latest menu start -->
<div class="delicious_area">
  <div class="container">
    <div class="title-container text-center overflow-hidden">
      <div class="section_title mb-75">
        <h3>Latest Products</h3>
        <a href="/products"
          >View All Products
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="30px"
            height="18px"
            viewBox="0 0 30 18"
            enable-background="new 0 0 30 18"
            xml:space="preserve"
          >
            <path
              class="handle"
              d="M20.305,16.212c-0.407,0.409-0.407,1.071,0,1.479s1.068,0.408,1.476,0l7.914-7.952c0.408-0.409,0.408-1.071,0-1.481
              l-7.914-7.952c-0.407-0.409-1.068-0.409-1.476,0s-0.407,1.071,0,1.48l7.185,7.221L20.305,16.212z"
            ></path>
            <path
              class="bar"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1,8h28.001c0.551,0,1,0.448,1,1c0,0.553-0.449,1-1,1H1c-0.553,0-1-0.447-1-1
              C0,8.448,0.447,8,1,8z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="row">
          {% for item in ltitems %}
          <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="single_delicious">
              <div class="thumb">
                <img src="/media/{{item.image}}" alt="" />
              </div>
              <div class="single_delicious_content">
                <div class="info">
                  <a href="{% url 'vendor' item.vendor.id %}" class="vendor-tag"
                    ><i class="fa fa-tag pr-1"></i>{{ item.vendor|title }}</a
                  >
                  <h3>{{item.dish_name}}</h3>
                </div>
                <div class="price-button-wrapper">
                  <span>Rs.{{item.price}}</span>
                  {% if item.outofstock %}
                  <button class="boxed-btn outof-stock-btn">
                    Out of Stock
                  </button>
                  {% else %}
                  <button
                    class="boxed-btn rounded"
                    onclick="addToCart('{{item.id}}','yes');"
                  >
                    Add<i class="fa fa-shopping-cart"></i>
                  </button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- latest menu ends -->

<!-- about_area_start -->
<div class="about_area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-xs-12 col-sm-12 col-lg-6">
        <div class="about_info_wrap">
          <h1>{{ipa.heading}}</h1>
          <span class="long_dash"></span>
          <p>{{ipa.par_one}}</p>
          <p>{{ipa.par_two}}</p>
          <ul class="food_list">
            <li>
              <img src="{% static 'mainapp/img/svg_icon/salad.svg' %}" alt=""  style="width: 100px; height: 100px"/>
              <span>Fresh Ingredients</span>
            </li>
            <li>
              <img
                src="{% static 'mainapp/img/svg_icon/address.svg' %}"
                alt=""
                style="width: 46px; height: 46px"
              />
              <span>Expert Farmers</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-lg-6">
        <div class="about_img">
          <div class="img_1">
            <img src="/media/{{ipa.bigimage}}" alt="" />
          </div>
          <div class="small_img">
            <img src="/media/{{ipa.smallimage}}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ about area ends  -->

<!-- menu end -->
<div class="about_area how-it-works-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center overflow-hidden">
        <div class="section_title mb-75">
          <h3>How it works</h3>
        </div>
      </div>
    </div>
    <div class="steps_active owl-carousel">
      <div class="steps-slider">
        <div class="item-steps">
          <span class="text-body">
            <h1 class="steps-count">01</h1>
            <h3 class="main-title">Find your market</h3>
            <p class="sub-title">
              Find your local farmers market at farmersmarketnepal.com
            </p>
          </span>
          <figure class="image_wrapper steps-image">
            <img
              class="lazy"
              src="{% static 'mainapp/img/finallogo.png' %}"
              alt=""
            />
          </figure>
        </div>
      </div>
      <div class="steps-slider">
        <div class="item-steps">
          <span class="text-body">
            <h1 class="steps-count">02</h1>
            <h3 class="main-title">Find your market</h3>
            <p class="sub-title">
              Find your local farmers market at farmersmarketnepal.com
            </p>
          </span>
          <figure class="image_wrapper steps-image">
            <img class="lazy" src="{% static 'mainapp/img/ab.png' %}" alt="" />
          </figure>
        </div>
      </div>
      <div class="steps-slider">
        <div class="item-steps">
          <span class="text-body">
            <h1 class="steps-count">03</h1>
            <h3 class="main-title">Find your market</h3>
            <p class="sub-title">
              Find your local farmers market at farmersmarketnepal.com
            </p>
          </span>
          <figure class="image_wrapper steps-image">
            <img class="lazy" src="{% static 'mainapp/img/as.png' %}" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="our-partners-section">
  <div class="partners-icons-list">
    <div class="partner_slider owl-carousel">
      {% for c in clients %}
      <div class="item">
        <div class="image-wrapper item-image">
          <img src="/media/{{c.image}}" alt="" />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- testimonial_area  -->
{% comment %}
<div class="testimonial_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center mb-50">
          <p>Testimonials</p>
          <h3>Our Customer’s Say</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="testmonial_active owl-carousel">
          {% for t in tms %}
          <div class="single_carousel">
            <div class="single_testmonial">
              <div class="author_opinion">
                <p>“{{t.content}}</p>
              </div>
              <div class="testmonial_author">
                <div class="thumb">
                  <img src="/media/{{t.image}}" alt="" />
                </div>
                <div class="name">
                  <h3>{{t.name}}</h3>
                  <div class="icon">
                    <p>{{t.designation}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
<!-- /testimonial_area  -->

{% endblock body %}
