<style>
    .productdisplayblock {
        display: none;
    }

    .productdisplayblock:nth-child(1),
    .productdisplayblock:nth-child(2),
    .productdisplayblock:nth-child(3),
    .productdisplayblock:nth-child(4) {
        display: inline-block;
    }
</style>
{% extends 'mainapp/basic.html' %}
{% block title %} My Orders {% endblock %}
{% block dynamiccart %}{{cartItems}}{% endblock dynamiccart %}
{% block body %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Your Orders</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card card-outline-primary">
                    <div class="card-header">
                        <h4 class="m-b-0 font-weight-bold">User Order</h4>
                    </div>
                    <div class="card-body">
                        <table class="mb-5">
                            <tr>
                                <th>User Name</th>
                                <th class="px-3">:</th>
                                <td class="text-left">{{or.user}}</td>
                            </tr>
                            <tr>
                                <th>Ordered At</th>
                                <th class="px-3">:</th>
                                <td class="text-left">{{or.ordered_date}}</td>
                            </tr>
                            <tr>
                                <th>Ordered Location</th>
                                <th class="px-3">:</th>
                                <td class="text-left">{{or.address}}</td>
                            </tr>
                            <tr>
                                <th>Contact</th>
                                <th class="px-3">:</th>
                                <td class="text-left">{{or.phone}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <th class="px-3">:</th>
                                <td class="text-left">{% if or.status == "Pending" %}
                                    <span class="alert alert-primary p-1">{{or.status}}</span>
                                    {% elif or.status == "rejected" %}
                                    <span class="alert alert-danger p-1">{{or.status}}</span>
                                    {% elif or.status == "ontheway" %}
                                    <span class="alert alert-info p-1">{{or.status}}</span>
                                    {% elif or.status == "delivered" %}
                                    <span class="alert alert-success p-1">{{or.status}}</span>
                                    {% else %}
                                    <span class="alert alert-secondary p-1">Undefined</span>
                                    {% endif %}

                                </td>
                            </tr>
                        </table>
                        <div class="tablem-t-40">
                            <table id="myTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for oi in ois %}
                                    <tr>
                                        <td>{{oi.product.dish_name}}</td>
                                        <td>{{oi.quantity}}</td>
                                        <td>{{oi.product.price}}</td>
                                        <td>{% widthratio oi.product.price 1 oi.quantity %}</td>
                                    </tr>
                                    {% endfor %}

                                    <tr>
                                        <th colspan="2">Total <small>(Excluding delivery charge)</th>
                                        <th></th>
                                        <th class="text-right">NPR {{or.total}}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="2">Delivery Charge</th>
                                        <th></th>
                                        <th class="text-right">NPR {{or.delivery_charge}}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2"><strong>Grand Total</strong></th>
                                        <th></th>
                                        <th class="text-right">NPR {{ft}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="action_wrapper d-inline-block my-3">

                            <a href="{% url 'deleteOrder' or.id %}"
                                class="btn btn-danger btn-flat btn-addon btn-xs m-b-10" title="Delete"><i
                                    class="fa fa-trash-o" style="font-size:16px"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}