{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount %} 
{% block head_title %}{% trans "Sign In" %}{% endblock %} {% block body %}
{% load static %}
<div class="container-fluid login-container">
  <div class="login-wrapper">
    <div class="row">
      <div class="login-frame-container overlay col-sm-12 col-md-6 p-0">
        <img
          src="{% static 'mainapp/img/gallery/farmer2.jpg' %}"
          alt="Logion Frame Image container"
        />
      </div>
      <div class="login-form-wrapper col-sm-12 col-md-6">
      <h1 class="title-text">{% trans "Sign In" %}</h1>
  
      {% get_providers as socialaccount_providers %} {% if socialaccount_providers %}
      <p>
        {% blocktrans with site.name as site_name %} 
        Please sign in with one of your existing third party accounts. Or,
        <a href="{{ signup_url }}">sign up</a> 
        for a {{ site_name }} account and sign in below:
        {% endblocktrans %}
      </p>
  
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
  
        <div class="login-or">{% trans 'or' %}</div>
      </div>
  
      {% include "socialaccount/snippets/login_extra.html" %} {% else %}
      <p>
        {% blocktrans %}Don't have an account?, <br />
        <a href="{{ signup_url }}" style="text-decoration: underline"
          >Create an account</a
        >
        here.{% endblocktrans %}
      </p>
      {% endif %}
      <div class="login-form">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
          <input
            type="hidden"
            class="form-control"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <div class="form-group text-center">
            <button class="primaryAction boxed-btn3" type="submit">
              {% trans "Sign In" %}
            </button>
          </div>
          <div class="form-group text-center">
            <a
              class="button secondaryAction"
              style="text-decoration: underline"
              href="{% url 'account_reset_password' %}"
              >{% trans "Forgot Password?" %}</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
