{% extends 'adminApp/basic.html' %}
<!-- Main wrapper  -->
<div id="main-wrapper">
  {% block body %}
  <!-- Page wrapper  -->
  <div class="page-wrapper">
    <!-- Container fluid  -->
    <div class="container-fluid">
      <!-- Start Page Content -->
      <div class="card card-outline-primary">
        <div class="card-header">
          <h4 class="m-b-0 text-white">Add Advertisement</h4>
        </div>
        <div
          class="alert alert-warning alert-dismissible fade show mt-3"
          role="alert"
        >
          Please note that only one advertisement (initial) will get displayed.
          Delete other block accordingly!!
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-body">
              <hr />
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Advertisement Link</label>
                    <input
                      type="text"
                      name="d_name"
                      class="form-control"
                      placeholder="Morzirella"
                    />
                  </div>
                </div>
                <!--/span-->

                <!--/span-->
              </div>
              <!--/row-->
              <div class="row p-t-20">
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Image</label>
                    <input
                      type="file"
                      name="img"
                      id="lastName"
                      class="form-control form-control-danger"
                      placeholder="12n"
                      accept="Image/*"
                    />
                  </div>
                </div>
              </div>
              <!--/row-->
              <!--/span-->
            </div>
            <div class="form-actions">
              <input
                type="submit"
                name="submit"
                class="btn btn-success"
                value="save"
              />
            </div>
          </form>
        </div>
        <table id="myTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Advertisement ID</th>

              <th>Ad Direct Link</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for a in ads %}
            <tr>
              <td>{{a.id}}</td>
              <td>{{a.adlink}}</td>
              <td>
                <a href="{% url 'deleteAd' a.id %}"
                  ><button
                    class="btn btn-danger btn-flat btn-addon btn-sm m-b-10 m-l-5"
                    title="Delete Order"
                    onclick="return ask()"
                  >
                    <i class="fa fa-trash"></i></button
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End PAge Content -->
</div>
<script>
  function ask() {
    return confirm("Are you sure you want to delete this product ? ");
  }
</script>
<!-- End Container fluid  -->
{% endblock body %}
