.delicious_area {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
  .filter-options {
    border-bottom: 1px solid #e5e8ea;
    background: $white_color;
    height: fit-content;
    padding: 10px 0;

    &.stick {
      position: sticky;
      top: 200px;
    }
    .nav {
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
      .nav-list-item {
        padding: 10px;
        @include transition(0.3s);
      }
      span {
        @extend .nav-list-item;
        color: $font_1;
        font-weight: 500;
        width: 100%;
        i {
          font-size: 10px;
          margin-left: auto;
        }
      }
      .cat-options {
        padding-left: 20px;
        li {
          a {
            padding: 5px 10px 5px 0px;
            color: $gray-color3;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media #{$mobile_device} {
    padding-bottom: 50px;
  }
  .single_delicious {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background: $white_color;
    border: 1px solid $border_color;

    @include border-radius(10px);

    @media #{$mobile_device} {
      display: block !important;
    }
    @media #{$tablet_device} {
      display: block !important;
    }
    .thumb {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;

      img {
        height: 286px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    .single_delicious_content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 20px;

      .vendor-tag {
        color: $font_1;
        flex: 1;
      }
      .info {
        @media #{$mobile_device} {
          padding-left: 0;
          margin-bottom: 15px;
          margin-top: 20px;
        }
        @media #{$tablet_device} {
          padding-left: 0;
          margin-top: 30px;
        }
        h3 {
          font-size: 18px;
          color: #001d38;
          font-family: $font_family_1;
          margin: 10px 0;
        }
      }
      .price-button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;

        span {
          font-weight: 500;
          font-size: 18px;
          color: $font_1;
        }
      }
    }
  }
}
